#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.parent {
  display: flex;
  flex-direction:column;
  // flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  box-shadow: 0 0 10px rgba(194, 29, 29, 0.1);

  
  
}